@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #232323;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(105, 105, 105);
}

/* HIDE BLUE HIGHLIGHT */
* {
  -webkit-tap-highlight-color: transparent;
}
