@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #232323;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(105, 105, 105);
}

/* HIDE BLUE HIGHLIGHT */
* {
  -webkit-tap-highlight-color: transparent;
}

/* HERO SCROLL */

.scroll {
  animation: down 2s infinite;
  -webkit-animation: down 2s infinite;
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(10px);
  }
  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
